
<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">Hello Admin</a>
      </header>
      <ul class="nav">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i>Home
          </a><br>
        </li>
        <li>
          <a routerLink="/adminform">
            <i class="zmdi zmdi-link"></i> Add Product
          </a>
        </li>
        <li>
            <a href="#">
              <i class="zmdi zmdi-calendar"></i> View all product
            </a>
          </li>
          <li>
            <a href="#">
              <i class="zmdi zmdi-info-outline"></i> Log out
            </a>
          </li>
      </ul>
    </div>
