


<div class="container">  
    <form id="contact" action="" method="post">
      <h3>Add Product Master</h3>
      <br>

      <fieldset>
        <input placeholder="User Name" type="text" class="form-control" name="username" required>
      </fieldset>
      <fieldset>
        <input placeholder=" Password" type="password" class="form-control" tabindex="3" name="password" required>
      </fieldset>
      <fieldset>
        <input placeholder="E-mail ID" type="email" tabindex="2" name="email" required>
      </fieldset>
      <fieldset>
        <input placeholder="Phone Number" type="tel" tabindex="3" name="phoneno" required>
      </fieldset>
      <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending"><a routerLink="/viewprofile">Submit</a></button>
      </fieldset>
    </form>
   
    
  </div>
